*{
    margin: 0px;
    padding: 0px;
}
svg{
    width: 40;
    height: 40;
    fill: none;
}
#navigation-bar {
    background-color: rgb(33, 28, 28);
    display: flex;
    justify-content: center;
}
/* #Branding-area{
    background-color: rgb(33, 28, 28);
} */
.content-1{
    background-color: rgb(34, 36, 40);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 74px 0px;
}
.content-1-left{
    width: 500px;
}
.div-text{
    font-weight:900;
    color: #fff;
    font-family: 'Anonymous Pro', monospace;
    font-family: 'Inter', sans-serif;
    padding: 10px;
}
.div-1{
    font-size: 42px;
    font-weight:900;
    color: #80A3EA;
}
.div-2{
    font-size: 82px;
    font-weight:900;
    color: #fff;
}
.div-3{
    font-size: 20px;
    font-weight:400;
    color: #fff;
}
.div-4 button{
    background-color: #006dff;
    color: #fff;
    padding: 16px 22px;
    border-radius: 16px;
    border: none;
    font-size: 20px;
    font-weight: 550;
    font-family: 'Anonymous Pro', monospace;
    font-family: 'Inter', sans-serif;
    margin-top: 10px;

}
.content-1-right{
    width: 500px;
    height: 540px;
    /* border: 5px #fff solid; */
    /* overflow: scroll; */
}
.content-1-right img{
    /* width: auto;
    height: auto; */
    /* display: block; */
    width: 500px;
    height: 540px;
    object-fit: fill;
}
.content-2{
    height: 500px;
    background-color: rgb(244, 249, 253);
}
.content-2-top{
    display: flex;
    justify-content: center;
    /* margin-top: 50px; */
    padding-top: 50px;
    font-size: 32px;
    color: black;
}
.content-2-bottom{
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 50px;
    width: 1050px;
    height: 200px;
}
.content-2-bottom img{
    width: 1050px;
    height: 200px;
}

header{
    padding: 2.2rem;
}
#header-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-family: 'Inter', sans-serif;
    color: white;
}

#justpay-logo {
    max-width: 100%;
    height: auto;
    width: 70px;
}

#increase-size {
    width: 5rem;
}

.header-list-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 5rem;
    text-decoration: none;
    color: white;
}

.header-list-options-links {
    color: white;
    text-decoration: none;
}

#Sign-Up-Button-Option {
    color: rgb(33, 28, 28);
    padding: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 70px;
}

#header-text {
    color: white;
    text-align: center;
    margin-top: 20px; /* Adjust this value to control the space between the header and text */
}

#Branding-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1, h2, p{
    font-family: "Inter V","Inter","DM Sans",sans-serif;
    color: white;
}
#india{
    color: #80a3ea;
    font-size: 2.625rem;
}

#Payments-Operating-System{
    font-size: 4rem;
    color: white;
}
#brand-image img{
    margin-left: 5rem;
    height: 50rem;
}

#Learn-More {
    background-color: rgb(42, 114, 172);
    margin-top: 1rem;
    padding: 20px 30px;
    border-radius: 18px;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: "Inter V","Inter","DM Sans",sans-serif;
}


/* #img-brand-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

#img-brand-list li ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
#img-brand-list li{
    list-style: none;
}

#Trusted-by-leading-companies{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */